<!-- Optional Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<footer class="mt-5">
  <p style="text-align: center;">&copy; 2025 Secrets App</p>
</footer>
</body>
</html>
